*.c
*.cpp
*.dll
*.egg
*.gz
*.nix
*.py[cod]
*.so
.coverage
.idea/
.mypy_cache
.project
.pydevproject
.settings
.vscode
/.cache
/.gdbinit
/.pyodide-xbuildenv-*
/.python-version
/ChangeLog-spell-corrected
/ChangeLog.spell-corrected
/Mathics3.egg-info
ChangeLog
ChangeLog.orig
ChangeLog.rej
Documents/
Homepage/
Test/
_Copies_/
_Database_/
build/
dist/
mathics/Makefile
mathics/doc/xml/
tmp
