[submodule "mathics/Packages/Combinatorica-repo"]
	path = mathics/Packages/Combinatorica-repo
	url = https://github.com/Mathics3/Mathics3-Combinatorica.git
[submodule "mathics/Packages/Mathics3-Rubi"]
	path = mathics/Packages/Mathics3-Rubi
	url = git@github.com:Mathics3/Mathics3-Rubi.git
