[submodule "mathics/Packages/Combinatorica-repo"]
	path = mathics/Packages/Combinatorica-repo
	url = https://github.com/Mathics3/Mathics3-Combinatorica.git
[submodule "mathics/Packages/Rubi"]
	path = mathics/Packages/Rubi
	url = https://github.com/Mathics3/Mathics3-Rubi.git
