# Optional packages which add functionality or speed things up
psutil # SystemMemory and MemoryAvailable
scikit-image >= 0.17 # FindMinimum can use this; used by Image as well
lxml  # for HTML parsing used in builtin/fileformats/html
wordcloud # Used in builtin/image.py by WordCloud()
