/core-version.tex
/doc_latex_data.pcl
/documentation.log
/documentation.tex
/documentation.tex-before-sed
/images/
/logo-heptatom.pdf
/Mathics3-logo.pdf
/Mathics3-logo-nodrop.pdf
/mathics3-*.asy
/mathics3-*.dvi
/mathics3-*.dvi
/mathics3-*.eps
/mathics3-*.pdf
/mathics3-*.ps
/mathics3-*.tex
/mathics3-test.aux
/mathics3-test.dvi
/mathics3-test.fdb_latexmk
/mathics3-test.fls
/mathics3-test.idx
/mathics3-test.ilg
/mathics3-test.ind
/mathics3-test.log
/mathics3-test.maf
/mathics3-test.mtc*
/mathics3-test.out
/mathics3-test.pdf
/mathics3-test.pre
/mathics3-test.toc
/mathics3.aux
/mathics3.dvi
/mathics3.fdb_latexmk
/mathics3.fls
/mathics3.idx
/mathics3.ilg
/mathics3.ind
/mathics3.log
/mathics3.maf
/mathics3.mtc*
/mathics3.out
/mathics3.pdf
/mathics3.pre
/mathics3.toc
/testing.aux
/testing.tex
/version-info.tex
