name: Mathics3 (Consistency Checks)

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ['3.10']
    steps:
    - uses: actions/checkout@v3
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        sudo apt update -qq && sudo apt install llvm-dev
        python -m pip install --upgrade pip
        # We can comment out after next Mathics-Scanner release
        python -m pip install -e git+https://github.com/Mathics3/mathics-scanner#egg=Mathics-Scanner[full]
    - name: Install Mathics with minimum dependencies
      run: |
        make develop
    - name: Test Mathics Consistency and Style
      run: |
        make check-consistency-and-style
