name: Mathics (OSX)

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    env:
      NO_CYTHON: 1
      LDFLAGS: "-L/usr/local/opt/llvm@11/lib"
      CPPFLAGS: "-I/usr/local/opt/llvm@11/include"
    runs-on: macos-latest
    strategy:
      matrix:
        os: [macOS]
        python-version: [3.6, 3.7, 3.8, 3.9]
    steps:
    - uses: actions/checkout@v3
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        brew install llvm@11
        python -m pip install --upgrade pip
        LLVM_CONFIG=/usr/local/Cellar/llvm@11/11.1.0/bin/llvm-config pip install llvmlite
        # Can remove after next Mathics-Scanner release
        # python -m pip install -e git+https://github.com/Mathics3/mathics-scanner#egg=Mathics-Scanner[full]
    - name: Install Mathics with full dependencies
      run: |
        make develop-full
    - name: Test Mathics
      run: |
        make -j3 check
