name: Mathics3 Packages (ubuntu)

on:
  push:
    branches: [ master ]
  pull_request:
    branches: '**'

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ['3.13']
    steps:
    - uses: actions/checkout@v4
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install OS dependencies
      run: |
        sudo apt-get update -qq && sudo apt-get install -qq liblapack-dev llvm-dev tesseract-ocr remake
    - name: Install Mathics3 with full dependencies
      run: |
        python -m pip install --upgrade pip
        # We can comment out after next Mathics-Scanner release
        # python -m pip install -e git+https://github.com/Mathics3/mathics-scanner#egg=Mathics-Scanner[full]
    - name: Run Mathics3 Combinatorica tests
      run: |
        git submodule init
        git submodule update
        remake -x develop
        cd mathics/Packages/Combinatorica-repo
        # If Combinatorica repo changes, we may need the below altered
        # with a branch name, (not HEAD) for testing.
        git pull origin HEAD
        pip install -e .[dev]
        remake -x check
