name: Mathics3 (ubuntu)

on:
  push:
    branches: [ master ]
  pull_request:
    branches: '**'

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ['3.12', '3.11', '3.8', '3.9', '3.10']
    steps:
    - uses: actions/checkout@v4
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install OS dependencies
      run: |
        sudo apt-get update -qq && sudo apt-get install -qq liblapack-dev llvm-dev tesseract-ocr remake
    - name: Install Mathics3 with full dependencies
      run: |
        python -m pip install --upgrade pip
        # We can comment out after next Mathics-Scanner release
        # python -m pip install -e git+https://github.com/Mathics3/mathics-scanner#egg=Mathics-Scanner[full]
        git clone https://github.com/Mathics3/mathics-scanner.git
        cd mathics-scanner/
        pip install -e .
        python -m mathics_scanner.generate.build_tables
        cd ..

        # python -m pip install Mathics-Scanner[full]
        remake -x develop-full
    - name: Test Mathics
      run: |
        make -j3 check
