name: Mathics3 (Windows)

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: windows-latest
    strategy:
      matrix:
        os: [windows]
        python-version: ['3.8', '3.9']
    steps:
    - uses: actions/checkout@v3
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v3
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install OS dependencies
      run: |
        python -m pip install --upgrade pip
        python -m pip install wheel
        # use --force because llvm may already exist, but it also may not exist.
        # so we will be safe here. Another possibility would be check and install
        # conditionally.
        choco install --force llvm
        choco install tesseract
        set LLVM_DIR="C:\Program Files\LLVM"
    - name: Install Mathics3 with Python dependencies
      run: |
        # We can comment out after next Mathics-Scanner release
        # python -m pip install -e git+https://github.com/Mathics3/mathics-scanner#egg=Mathics-Scanner[full]
        python -m pip install Mathics-Scanner
        make develop-full
    - name: Test Mathics3
      # Limit pip install to a basic install *without* full dependencies.
      # Here is why:
      #   * Windows is the slowest CI build, this speeds up testing by about
      #     3 minutes
      #   * Other CI tests on other (faster) OS's full dependencies and
      #     we needs some CI that tests running when packages aren't available
      # So "dev" only below, not "dev,full".
      run: |
        pip install pyocr # from full
        pip install -e .[dev]
        set PYTEST_WORKERS="-n3"
        # Until we can't figure out what's up with TextRecognize:
        make pytest gstest
        make doctest o="--exclude TextRecognize"
        # make check
